@use "/lucuma-css/lucuma-ui-common.scss" as lucumaUICommon;

html {
  font-size: 14px;
  overflow: hidden; // Avoid "spring" effect when scrolling tables beyond their top/bottom.
}

.ObserveStyles-main-panel {
  display: flex;
  flex-direction: column;

  .solar-system {
    position: relative;
  }
}

.ObserveStyles-login-title {
  border-bottom-color: var(--yellow-300);
}

.p-tabview.ObserveStyles-sequenceTabView .p-tabview-panels {
  height: 100%;
  padding: 0;
}

.p-splitter {
  &.ObserveStyles-shrinkable {
    flex-grow: 2;
    min-width: 0;
    min-height: 0;
    overflow: auto;
  }
}

.p-tabview .p-tabview-panels .ObserveStyles-sequenceTabPanel {
  height: 100%; // Required for virtualized table within.
}

.p-tabview .p-tabview-nav li.ObserveStyles-sequenceTabPanel {
  min-width: 20%;

  & .p-tabview-nav-link {
    justify-content: center;
    padding: 0.5em 0.5em;
  }

  & .p-tabview-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ObserveStyles-topPanel {
  width: 100%;
}

.ObserveStyles-activeInstrumentLabel {
  padding-bottom: 0.5em;
}

.p-tag {
  &.ObserveStyles-labelPointer {
    padding: 5px 10px;
  }

  &.ObserveStyles-idleTag {
    background-color: var(--gray-400);
  }

  &.ObserveStyles-runningTag {
    background-color: var(--orange-500);
  }
}

.p-accordion .p-accordion-header:not(.p-disabled) {
  &.ObserveStyles-logArea {
    .p-accordion-header-link {
      padding: 0.6em 0.8em;
      font-size: small;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.p-toolbar {
  &.ObserveStyles-footer {
    border-radius: unset;
    min-height: 3em;
    max-height: 3em;
    padding-top: 0;
    padding-bottom: 0;

    background: var(--gray-900);
    color: var(--gray-50);
  }
}

.ObserveStyles-centered {
  display: flex;
  justify-content: center;
}

.ObserveStyles-componentLabel {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}

.ObserveStyles-sessionQueue {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.p-selectbutton {
  &.ObserveStyles-obsClassSelect {
    border: 1px solid var(--surface-border);

    .p-button {
      font-size: 0.85em;
      border: 0;
      padding-top: 0.85em;
      padding-bottom: 0.85em;

      &:not(:first-child) {
        border-left: 1px solid var(--surface-border);
      }

      svg {
        margin-right: 2px;
      }

      &.p-highlight {
        background: var(--green-800);
        border-color: var(--green-800);

        &:hover {
          background: var(--green-800);
          border-color: var(--green-800);
        }
      }
    }
  }
}

.pl-react-table.p-datatable.lucuma-sequence-table {
  tbody {
    .ObserveStyles-rowIdle {
      height: 25px;
    }

    tr.ObserveStyles-rowSelected {
      height: 60px;
      vertical-align: top;

      td:not(.ObserveStyles-breakpointTableCell) {
        padding-top: 6px;
      }
    }
  }
}

.pl-react-table.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody {
  & > tr {
    // .ObserveStyles-rowPositive {
    //   background-color: @positiveBackgroundColor;
    //   color: @positiveTextColor;
    //   box-shadow: @positiveBoxShadow;
    // }

    // .pl-react-table.p-datatable .p-datatable-tbody>tr {
    //   &.ObserveStyles-rowWarning {
    //     background-color: var(--active-row-background);
    //     // color: @warningTextColor;
    //     // box-shadow: @warningBoxShadow;
    //   }
    // }

    &.ObserveStyles-rowActive {
      background-color: var(--active-row-background);

      &:not(.p-highlight):not(.p-datatable-emptymessage):not(
          .is-subcomponent
        ):hover {
        background-color: var(--active-row-background);
      }
    }

    &.ObserveStyles-rowNegative {
      background-color: var(--negative-row-background);
      color: var(--negative-row-color);

      &:not(.p-highlight):not(.p-datatable-emptymessage):not(
          .is-subcomponent
        ):hover {
        background-color: var(--negative-row-background);
        color: var(--negative-row-color);
      }
    }

    // .ObserveStyles-rowError {
    //   background-color: @negativeBackgroundColor;
    //   color: @negativeTextColor;
    //   box-shadow: @negativeBoxShadow;
    // }

    // .ObserveStyles-rowDisabled {
    //   pointer-events: none;
    //   background: @background;
    //   color: @disabledTextColor;
    // }

    // .rowDone(@background_color) {
    //   pointer-events: none;
    //   color: fadein(@disabledTextColor, 30%);
    //   background: @background_color;
    // }

    // .ObserveStyles-rowDone {
    //   .rowDone(@gutter_end_color);
    // }

    // .ObserveStyles-rowNone {
    //   background: @background;
    // }
  }
}

.ObserveStyles-ConfigSection {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: smaller;

  // display: grid;
  // grid-template-areas:
  //   "observer observer"
  //   "operator operator"
  //   "imageQuality cloudExtinction"
  //   "waterVapor skyBackground";
  // column-gap: 15px;

  label {
    font-weight: bold;
    font-size: x-small;
    white-space: nowrap;
  }

  input {
    width: 100%;
    font-size: smaller;
  }

  .p-dropdown-label,
  .p-inputtext {
    font-size: small;
  }

  .p-dropdown {
    width: 100%;
    font-size: smaller;
  }

  .ObserveStyles-ConditionsSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

    .ObserveStyles-ImageQualityArea {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .ObserveStyles-CloudExtinctionArea {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .ObserveStyles-WaterVaporArea {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .ObserveStyles-SkyBackgroundArea {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .ObserveStyles-NamesSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

    .ObserveStyles-ObserverArea {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .ObserveStyles-OperatorArea {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.ObserveStyles-observationArea {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ObserveStyles-observationAreaError {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.ObserveStyles-configuringRow {
  display: flex;
  padding-left: 10px;
  padding-right: 20px;
}

.pl-react-table.p-datatable {
  &.ObserveStyles-observeTable {
    width: 100%;

    thead {
      z-index: 1;

      tr > th {
        padding: 0.5em 0.75em;
        border: 1px solid var(--surface-border);
      }
    }

    tr > td {
      min-width: 20px;
      font-size: small;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-left: 0.75em;
      padding-right: 0.75em;

      &:first-of-type {
        border-left: none;
      }
    }
  }

  &.ObserveStyles-sessionTable {
    tr > td {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    .ObserveStyles-loadButton-cell {
      padding: 0;

      .ObserveStyles-loadButton.p-component.p-button {
        padding: 3px;
      }
    }
  }

  &.ObserveStyles-stepTable {
    tr.ObserveStyles-stepRowDone {
      pointer-events: none;
      color: var(--disabled-row-color);
      background: var(--disabled-row-background);
    }

    $separator-color: var(--gray-200);
    $hover-color: var(--green-500);
    $atom-color: var(--gray-400);
    $breakpoint-color: var(--red-500);

    // ALL COMBINATIONS MUST BE EXPLICIT
    @function row-line($height, $color) {
      @return inset 0 $height $color;
    }

    @function top-line($color) {
      @return inset 0 1px $color;
    }

    @function top-thick-line($color) {
      @return inset 0 2px $color;
    }

    @function bottom-line($color) {
      @return inset 0 -1px $color;
    }

    @function bottom-thick-line($color) {
      @return inset 0 -2px $color;
    }

    @function top-double-line($outer, $inner) {
      // Thinner lines must be first since they have precedence.
      @return top-line($outer), top-thick-line($inner);
    }

    @function bottom-double-line($outer, $inner) {
      // Thinner lines must be first since they have precedence.
      @return bottom-line($outer), bottom-thick-line($inner);
    }

    tr {
      box-shadow: none !important;

      td {
        padding-top: 1px;
        padding-bottom: 1px;
        // We have some row separators which are split betwen the previous and next row.
        // This is easier to deal with with border 0 and box-shadows.
        border-bottom: 0;
      }

      // Regular row.
      // -----------------------------
      //
      //
      // ROW CONTENTS
      //
      //
      // SEPARATOR-SEPARATOR-SEPARATOR
      td:not(.ObserveStyles-breakpointTableCell):not(
          .ObserveStyles-selectedStateTableCell-shown
        ) {
        box-shadow: bottom-line($separator-color) !important;
      }

      &:hover {
        // Regular hovering row.
        // HOVER-HOVER-HOVER-HOVER-HOVER
        //
        //
        // ROW CONTENTS
        //
        //
        // HOVER-HOVER-HOVER-HOVER-HOVER
        td:not(.ObserveStyles-breakpointTableCell):not(
            .ObserveStyles-selectedStateTableCell-shown
          ) {
          box-shadow: top-line($hover-color), bottom-line($hover-color) !important;
        }
      }
    }

    tr.ObserveStyles-stepRowFirstInAtom:not(:first-of-type) {
      // First-in-atom row.
      // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
      //
      //
      // ROW CONTENTS
      //
      //
      // SEPARATOR-SEPARATOR-SEPARATOR
      td:not(.ObserveStyles-breakpointTableCell):not(
          .ObserveStyles-selectedStateTableCell-shown
        ) {
        box-shadow: top-line($atom-color), bottom-line($separator-color) !important;
      }

      &:hover {
        // First-in-atom hovering row.
        // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
        // HOVER-HOVER-HOVER-HOVER-HOVER
        //
        // ROW CONTENTS
        //
        //
        // HOVER-HOVER-HOVER-HOVER-HOVER
        td:not(.ObserveStyles-breakpointTableCell):not(
            .ObserveStyles-selectedStateTableCell-shown
          ) {
          box-shadow: top-double-line($atom-color, $hover-color),
            bottom-line($hover-color) !important;
        }
      }

      &:has(+ .ObserveStyles-stepRowWithBreakpoint) {
        // First-in-atom row with next row with breakpoint.
        // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
        //
        //
        // ROW CONTENTS
        //
        //
        // BREAKPOINT-BREAKPOINT-BREAKPO
        td:not(.ObserveStyles-breakpointTableCell):not(
            .ObserveStyles-selectedStateTableCell-shown
          ) {
          box-shadow: top-line($atom-color), bottom-line($breakpoint-color) !important;
        }

        &:hover {
          // First-in-atom hovering row with next row with breakpoint.
          // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
          // HOVER-HOVER-HOVER-HOVER-HOVER
          //
          // ROW CONTENTS
          //
          // HOVER-HOVER-HOVER-HOVER-HOVER
          // BREAKPOINT-BREAKPOINT-BREAKPO
          td:not(.ObserveStyles-breakpointTableCell):not(
              .ObserveStyles-selectedStateTableCell-shown
            ) {
            box-shadow: top-double-line($atom-color, $hover-color),
              bottom-double-line($breakpoint-color, $hover-color) !important;
          }
        }
      }
    }

    tr:has(+ .ObserveStyles-stepRowFirstInAtom) {
      // Regular row with next row first-in-atom.
      // -----------------------------
      //
      //
      // ROW CONTENTS
      //
      //
      // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
      td:not(.ObserveStyles-breakpointTableCell):not(
          .ObserveStyles-selectedStateTableCell-shown
        ) {
        box-shadow: bottom-line($atom-color) !important;
      }

      &:hover {
        // Regular hovering row with next row first-in-atom.
        // HOVER-HOVER-HOVER-HOVER-HOVER
        //
        //
        // ROW CONTENTS
        //
        // HOVER-HOVER-HOVER-HOVER-HOVER
        // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
        td:not(.ObserveStyles-breakpointTableCell):not(
            .ObserveStyles-selectedStateTableCell-shown
          ) {
          box-shadow: top-line($hover-color),
            bottom-double-line($atom-color, $hover-color) !important;
        }
      }
    }

    tr:has(+ .ObserveStyles-stepRowWithBreakpoint) {
      // Regular row with next row with breakpoint.
      // -----------------------------
      //
      //
      // ROW CONTENTS
      //
      //
      // BREAKPOINT-BREAKPOINT-BREAKPO
      td:not(.ObserveStyles-breakpointTableCell):not(
          .ObserveStyles-selectedStateTableCell-shown
        ) {
        box-shadow: bottom-line($breakpoint-color) !important;
      }

      &:hover {
        // Regular hovering row with next row with breakpoint.
        // HOVER-HOVER-HOVER-HOVER-HOV
        //
        //
        // ROW CONTENTS
        //
        // HOVER-HOVER-HOVER-HOVER-HOV
        // BREAKPOINT-BREAKPOINT-BREAK
        td:not(.ObserveStyles-breakpointTableCell):not(
            .ObserveStyles-selectedStateTableCell-shown
          ) {
          box-shadow: top-line($hover-color),
            bottom-double-line($breakpoint-color, $hover-color) !important;
        }
      }
    }

    tr.ObserveStyles-stepRowWithBreakpoint,
    tr.ObserveStyles-stepRowWithBreakpoint:not(:first-of-type) {
      // Breakpoint row.
      // BREAKPOINT-BREAKPOINT-BREAKPO
      //
      //
      // ROW CONTENTS
      //
      //
      // SEPARATOR-SEPARATOR-SEPARATOR
      td:not(.ObserveStyles-breakpointTableCell):not(
          .ObserveStyles-selectedStateTableCell-shown
        ) {
        box-shadow: top-line($breakpoint-color), bottom-line($separator-color) !important;
      }

      &:has(+ .ObserveStyles-stepRowWithBreakpoint),
      &:has(+ .ObserveStyles-stepRowWithBreakpoint):has(
          + .ObserveStyles-stepRowFirstInAtom
        ) {
        // Breakpoint row with next row with breakpoint.
        // BREAKPOINT-BREAKPOINT-BREAKPO
        //
        //
        // ROW CONTENTS
        //
        //
        // BREAKPOINT-BREAKPOINT-BREAKPO
        td:not(.ObserveStyles-breakpointTableCell):not(
            .ObserveStyles-selectedStateTableCell-shown
          ) {
          box-shadow: top-line($breakpoint-color),
            bottom-line($breakpoint-color) !important;
        }
      }

      &:has(+ .ObserveStyles-stepRowFirstInAtom) {
        // Breakpoint row with next row first-in-atom.
        // -----------------------------
        // BREAKPOINT-BREAKPOINT-BREAKPO
        //
        // ROW CONTENTS
        //
        //
        // ATOM-ATOM-ATOM-ATOM-ATOM-ATOM
        td:not(.ObserveStyles-breakpointTableCell):not(
            .ObserveStyles-selectedStateTableCell-shown
          ) {
          box-shadow: top-line($breakpoint-color), bottom-line($atom-color) !important;
        }
      }

      &:hover {
        // Breakpoint hovering row.
        // BREAKPOINT-BREAKPOINT-BREAKPO
        // HOVER-HOVER-HOVER-HOVER-HOVER
        //
        // ROW CONTENTS
        //
        //
        // HOVER-HOVER-HOVER-HOVER-HOVER
        td:not(.ObserveStyles-breakpointTableCell):not(
            .ObserveStyles-selectedStateTableCell-shown
          ) {
          box-shadow: top-double-line($breakpoint-color, $hover-color),
            bottom-line($hover-color) !important;
        }

        &:has(+ .ObserveStyles-stepRowWithBreakpoint) {
          // Breakpoint hovering row with next row with breakpoint.
          // BREAKPOINT-BREAKPOINT-BREAKPO
          // HOVER-HOVER-HOVER-HOVER-HOVER
          //
          // ROW CONTENTS
          //
          // HOVER-HOVER-HOVER-HOVER-HOVER
          // BREAKPOINT-BREAKPOINT-BREAKPO
          td:not(.ObserveStyles-breakpointTableCell):not(
              .ObserveStyles-selectedStateTableCell-shown
            ) {
            box-shadow: top-double-line($breakpoint-color, $hover-color),
              bottom-double-line($breakpoint-color, $hover-color) !important;
          }
        }
      }

      // padding-top: 4px;
      // background-image: linear-gradient(to right, #a5673f 0px, #a5673f);
      // background-size: 100% 4px;
      // background-repeat: no-repeat;
      // }

      // .ObserveStyles-breakpointTableCell {
      // transform: translateY(-7px);
      // }
    }

    tr.ObserveStyles-stepRowPossibleFuture {
      opacity: 0.6;
    }

    // .stepWithBreakpoint(@line_color) {
    //   background-image: linear-gradient(to right, @line_color 0px, @line_color);
    //   font-size: smaller !important;
    //   text-overflow: ellipsis;
    //   word-wrap: break-word;
    //   white-space: nowrap;
    //   .borderRight();
    //   .borderTop();
    //   background-size: 100% 4px;
    //   background-repeat: no-repeat;
    //   padding-top: 4px;
    //   overflow: visible !important;
    //   outline: none;
    // }

    // .ObserveStyles-stepRowWithBreakpoint {
    //   .stepWithBreakpoint(@breakpoint_line_color);
    // }

    // .ObserveStyles-stepDoneWithBreakpoint {
    //   .stepWithBreakpoint(@breakpoint_done_line_color);
    // }

    // .ObserveStyles-stepRowWithBreakpointHover {
    //   .stepWithBreakpoint(@breakpoint_line_color);
    //   background-color: @background;
    //   background-image: linear-gradient(
    //     to right,
    //     @borderColor 0px,
    //     @gutter_end_color 19px,
    //     lighten(@breakpoint_line_color, 30%) 0px,
    //     lighten(@breakpoint_line_color, 30%)
    //   );
    //   padding-top: 0px;
    // }

    // .stepWithBreakpointAndControl(@line_color) {
    //   .stepWithBreakpoint(@line_color);
    //   background-image: linear-gradient(
    //     to right,
    //     @borderColor 0px,
    //     @gutter_end_color 19px,
    //     @line_color 19px,
    //     @line_color
    //   );
    //   padding-top: 4px;
    // }

    // .ObserveStyles-stepRowWithBreakpointAndControl {
    //   .stepWithBreakpointAndControl(@breakpoint_line_color);
    // }

    // .ObserveStyles-stepDoneWithBreakpointAndControl {
    //   .stepWithBreakpointAndControl(@breakpoint_done_line_color);
    // }

    th.ObserveStyles-breakpointTableHeader {
      padding: 0;
      border: 0;
    }

    th.ObserveStyles-runningStateTableHeader {
      padding: 0;
      border: 0;
    }

    // The actual cell is translated.
    td.ObserveStyles-breakpointTableCell {
      vertical-align: top;
      transform: translate(4px, -8px);
      overflow: visible; // This shows the breakpoint markers, even with width 0.
      padding: 0;
    }

    td.ObserveStyles-selectedStateTableCell-shown {
      display: inline-block;
      position: relative;
      top: 24px;
      padding: 0;
      border: 0;
    }
  }
}

.p-progressbar {
  &.ObserveStyles-observationProgressBar {
    margin: 0;
    flex-grow: 2;

    .p-progressbar-value {
      overflow: visible;
      justify-content: flex-start;

      .p-progressbar-label {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-weight: bold;
      }
    }
  }
}

.p-inputgroup {
  &.ObserveStyles-controlButtonStrip {
    height: 21px;
    width: unset; // Unset p-inputgroup's width: 100%
  }
}

@mixin controlButton {
  color: var(--primary-50);
  border: 0;
  padding: 0;
}

.p-button.p-button-icon-only {
  &.ObserveStyles-pauseButton {
    @include controlButton();
    background-color: var(--teal-500);

    &:enabled:hover {
      background-color: var(--teal-600);
    }
  }

  &.ObserveStyles-stopButton {
    @include controlButton();
    background-color: var(--orange-500);

    &:enabled:hover {
      background-color: var(--orange-600);
    }
  }

  &.ObserveStyles-playButton {
    @include controlButton();
    background-color: var(--blue-500);

    &:enabled:hover {
      background-color: var(--blue-600);
    }
  }

  &.ObserveStyles-abortButton {
    @include controlButton();
    background-color: var(--red-500);

    &:enabled:hover {
      background-color: var(--red-600);
    }
  }
}

// .ReactVirtualized__Table__headerRow {
//   font-weight: 700;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   .borderRight();
//   .borderLeft();
//   .borderTop();
// }
// .ReactVirtualized__Table__headerColumn {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   padding: 0;
//   &:first-of-type {
//     border-left: none;
//   }
// }

// .ReactVirtualized__Table__headerTruncatedText {
//   padding-left: @table_row_left_padding;
// }

// .ReactVirtualized__Table__rowColumn {
//   .borderLeft();
//   min-width: 20px;
//   display: flex;
//   align-items: center;
//   font-size: small;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   height: 100%;
//   &:first-of-type {
//     border-left: none;
//   }
// }

.ObserveStyles-guidingCell {
  display: flex;
  width: 100%;
  align-items: center;
  // padding-left: @table_row_left_padding;
  // padding-right: @table_row_left_padding;
}

.ObserveStyles-offsetsBlock {
  margin-left: auto;
  display: flex;
  align-items: center;
  text-align: right;
}

.ObserveStyles-offsetsNodLabel {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 3px;
}

.ObserveStyles-offsetComponent {
  display: flex;
}

.ObserveStyles-stepSettingsHeader {
  color: var(--text-color);
}

.ObserveStyles-stepTypeCell {
  text-align: center;
}

.p-tag.ObserveStyles-stepTypeTag {
  .p-tag-value {
    font-size: 0.78571429rem;
  }

  &.ObserveStyles-stepTypeCompleted {
    background-color: var(--gray-500);
  }
}

.ObserveStyles-controlCell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 42.3px;
  align-self: flex-start;
  position: absolute;
  top: 0;
  height: 100%;
}

.ObserveStyles-iconCell {
  justify-content: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  &.ObserveStyles-skippedIconCell {
    padding-right: 10px;
  }
}

.ObserveStyles-breakpointHandle {
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.5) translateX(-3px);
  }
}

.ObserveStyles-breakpointIcon {
  color: var(--muted-color);

  &.ObserveStyles-activeBreakpoint {
    color: var(--red-500);
  }
}

.ObserveStyles-skipHandle {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }

  .ObserveStyles-skipIconSet {
    color: var(--orange-500);
  }
}

.ObserveStyles-defaultCursor {
  cursor: default !important;
}

.ObserveStyles-configButtonStrip {
  padding: 0 0.5em;
}

.p-component.p-button.p-button-sm.ObserveStyles-configButton {
  border: 0;
  padding: 0 0.5em;
  height: 100%;
}

.ObserveStyles-syncingPanel {
  height: var(--solar-system-size);
  width: var(--solar-system-size);

  .p-dialog-header {
    text-align: center;
  }
}

.ObserveStyles-obsSummary {
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .ObserveStyles-obsSummary-title {
    font-size: x-large;
    font-weight: bold;
  }

  .ObserveStyles-obsSummary-details {
    display: flex;
    gap: 3em;
  }
}

.p-button.p-button-icon-only.ObserveStyles-obsSummary-button {
  font-size: small;
  padding: 6px 4px;
}
