version: 2
registries:
  fortawesome:
    type: npm-registry
    url: https://npm.fontawesome.com/
    token: ${{secrets.FONTAWESOME_NPM_AUTH_TOKEN}}
    replaces-base: true
updates:
  - package-ecosystem: 'github-actions'
    directory: '/modules/web/client'
    schedule:
      interval: 'monthly'
  - package-ecosystem: 'npm'
    registries:
      - fortawesome
    directory: '/modules/web/client'
    schedule:
      interval: 'weekly'
      # Check for npm updates on Sundays
      day: 'sunday'
    # Labels on pull requests for security and version updates
    labels:
      - 'npm dependencies'
