*.class
*.log
*.swp
.#*
*.iml
.metals/
.DS_Store
*.pem
*.der
*.p12
*.pkcs12
*.jks
yarn.lock
.tags*
.java-version
!modules/web/package.json
!modules/web/client/package.json
calibrations/
.metals/
.bloop/
project/project/.bloop/
metals.sbt
.vscode
jre

# hydra
.hydra/
project/hydra.sbt

# sbt specific
.cache
.history
.lib/
.bsp
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
sbt-ctags-dep-srcs/
buildinfo.properties

# Scala-IDE specific
.scala_dependencies
.cache
.classpath
.project
.worksheet/
bin/
.settings/
.idea
*.ipr
*.iws

# OS X
.DS_Store

# Nix
.direnv/

# Tags
.tags
GPATH
GRTAGS
GTAGS

# ENSIME
.ensime
.ensime_cache/
.#*
ensime.sbt

archive
smartgcal
.jvmopts

# Node modules
node_modules/

# Project specific
modules/edu.gemini.observe.web/edu.gemini.observe.web.server/log/

# Nix
.direnv/

# Web development runtime files
modules/web/client/src/main/publicdev/
local.conf.json*

# Deployment files
modules/web/client/deploy

.vite/
# TODO Remove when we remove web_old
modules/web_old/client/package.json