html {
  font-size: 14px !important;
}

.ObserveStyles-mainUI {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.p-divider.ObserveStyles-divider {
  margin: 0 !important;
  font-weight: bold;
  font-size: 1.1rem !important;
}


.p-tabview-panels {
  height: 100%;
  padding: 0 !important;
}

.ObserveStyles-sequenceTabPanel {
  min-width: 20%;

  & .p-tabview-nav-link {
    justify-content: center;
  }

  & .p-tabview-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ObserveStyles-activeInstrumentLabel {
  padding-bottom: 0.5em;
}

.ObserveStyles-labelPointer {
  margin-top: 0.2em;
}

.ObserveStyles-logArea {
  .p-accordion-header-link {
    padding: 0.6em 0.8em !important;
    font-size: small;
  }
}

.ObserveStyles-footer {
  border-radius: unset !important;
  height: 46px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ObserveStyles-centered {
  display: flex;
  justify-content: center;
}

// .ObserveStyles-rowPositive {
//   background-color: @positiveBackgroundColor;
//   color: @positiveTextColor;
//   box-shadow: @positiveBoxShadow;
// }

.ObserveStyles-rowWarning {
  background-color: var(--active-row);
  // color: @warningTextColor;
  // box-shadow: @warningBoxShadow;
}

// .ObserveStyles-rowActive {
//   background-color: @background;
//   color: @textColor;
//   box-shadow: 0px 0px 0px @textColor inset;
//   background-clip: padding-box;
// }

// .ObserveStyles-rowNegative {
//   background-color: @negativeBackgroundColor;
//   color: @negativeTextColor;
//   box-shadow: @negativeBoxShadow;
// }

// .ObserveStyles-rowError {
//   background-color: @negativeBackgroundColor;
//   color: @negativeTextColor;
//   box-shadow: @negativeBoxShadow;
// }

// .ObserveStyles-rowDisabled {
//   pointer-events: none;
//   background: @background;
//   color: @disabledTextColor;
// }

// .rowDone(@background_color) {
//   pointer-events: none;
//   color: fadein(@disabledTextColor, 30%);
//   background: @background_color;
// }

// .ObserveStyles-rowDone {
//   .rowDone(@gutter_end_color);
// }

// .ObserveStyles-rowNone {
//   background: @background;
// }

.ObserveStyles-HeaderSideBarCard {
  height: 100%;

  .p-card-body {
    height: 100%;

    .p-card-content {
      height: 100%;
      padding: 0 !important;
    }
  }
}

.ObserveStyles-HeaderSideBar {
  height: 100%;
  display: grid;
  grid-template-areas:
    "observer observer"
    "operator operator"
    "imageQuality cloudCover"
    "waterVapor skyBackground";
  column-gap: 15px;

  label {
    font-weight: bold;
    font-size: small;
    white-space: nowrap;
  }

  input {
    width: 100%;
  }

  .p-dropdown {
    width: 100%;
  }
}

.ObserveStyles-ObserverArea {
  grid-area: observer;
}

.ObserveStyles-OperatorArea {
  grid-area: operator;
}

.ObserveStyles-ImageQualityArea {
  grid-area: imageQuality;
}

.ObserveStyles-CloudCoverArea {
  grid-area: cloudCover;
}

.ObserveStyles-WaterVaporArea {
  grid-area: waterVapor;
}

.ObserveStyles-SkyBackgroundArea {
  grid-area: skyBackground;
}

.ObserveStyles-sequenceTabView {
  display: flex;
  flex-direction: column;
  height: 100%;

  .p-tabview-panels {
    overflow-x: scroll;
  }
}

.ObserveStyles-configuringRow {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.ObserveStyles-observationProgressRow {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding-right: 7px;
  margin-bottom: 1em;

  // & .bar {
  //   height: 100% !important;
  // }

  // & .label {
  //   text-align: center;
  //   width: 100%;
  // }
}

@mixin borderRight {
  border-right-style: solid;
  border-right-color: var(--surface-border);
  border-right-width: 1px;
}

@mixin borderLeft {
  border-left-style: solid;
  border-left-color: var(--surface-border);
  border-left-width: 1px;
}

@mixin borderTop {
  border-top-style: solid;
  border-top-color: var(--surface-border);
  border-top-width: 1px;
}

@mixin borderBottom {
  border-bottom-style: solid;
  border-bottom-color: var(--surface-border);
  border-bottom-width: 1px;
}

@mixin borderAll {
  @include borderRight();
  @include borderLeft();
  @include borderTop();
  @include borderBottom();
}

.ObserveStyles-observeTable {
  width: 100%;

  th {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 0.75em !important;
    padding-right: 0.75em !important;
  }

  td {
    @include borderLeft();
    min-width: 20px;
    // display: flex;
    // align-items: center;
    font-size: small;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    // height: 100%;
    padding-left: 0.75em !important;
    padding-right: 0.75em !important;

    &:first-of-type {
      border-left: none;
    }
  }
}

.ObserveStyles-observationProgressBarAndLabel {
  display: flex;
  flex-direction: column;
}

.ObserveStyles-observationProgressBar {
  margin: 0 !important;
  height: 1em !important;
}

.ObserveStyles-observationProgressLabel {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

// .ReactVirtualized__Table__headerRow {
//   font-weight: 700;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   .borderRight();
//   .borderLeft();
//   .borderTop();
// }
// .ReactVirtualized__Table__headerColumn {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   padding: 0;
//   &:first-of-type {
//     border-left: none;
//   }
// }

// .ReactVirtualized__Table__headerTruncatedText {
//   padding-left: @table_row_left_padding;
// }

// .ReactVirtualized__Table__rowColumn {
//   .borderLeft();
//   min-width: 20px;
//   display: flex;
//   align-items: center;
//   font-size: small;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   height: 100%;
//   &:first-of-type {
//     border-left: none;
//   }
// }