.light-theme {
  @import "primereact/resources/themes/nova/theme";

  --active-row: var(--orange-50);
}

.dark-theme {
  @import "primereact/resources/themes/luna-blue/theme";

  --active-row: var(--orange-900);
}

html {
  font-size: 14px !important;
}

body,
body .p-component {
  margin: 0;
  font-family: 'Lato' !important;
}

.p-tag {
  font-size: 0.85rem !important;
}

.ObserveStyles-mainUI {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.p-divider.ObserveStyles-divider {
  margin: 0 !important;
  font-weight: bold;
  font-size: 1.1rem !important;
}

.ObserveStyles-tab-panel {
  min-width: 20%;

  & .p-tabview-nav-link {
    justify-content: center;
  }

  & .p-tabview-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ObserveStyles-activeInstrumentLabel {
  padding-bottom: 0.5em;
}

.ObserveStyles-labelPointer {
  margin-top: 0.2em;

  .p-tag-icon {
    margin-right: 0.75em !important;
  }
}

.ObserveStyles-logArea {
  .p-accordion-header-link {
    padding: 0.6em 0.8em !important;
    font-size: small;
  }
}

.ObserveStyles-footer {
  border-radius: unset !important;
  height: 46px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ObserveStyles-sessionQueueTable {
  width: 100%;
}

.ObserveStyles-centered {
  display: flex;
  justify-content: center;
}

.ObserveStyles-queueText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @at-root {
    td #{&} {
      padding-left: 0.45em;
      font-size: small;
    }
  }
}

// .ObserveStyles-rowPositive {
//   background-color: @positiveBackgroundColor;
//   color: @positiveTextColor;
//   box-shadow: @positiveBoxShadow;
// }

.ObserveStyles-rowWarning {
  background-color: var(--active-row);
  // color: @warningTextColor;
  // box-shadow: @warningBoxShadow;
}

// .ObserveStyles-rowActive {
//   background-color: @background;
//   color: @textColor;
//   box-shadow: 0px 0px 0px @textColor inset;
//   background-clip: padding-box;
// }

// .ObserveStyles-rowNegative {
//   background-color: @negativeBackgroundColor;
//   color: @negativeTextColor;
//   box-shadow: @negativeBoxShadow;
// }

// .ObserveStyles-rowError {
//   background-color: @negativeBackgroundColor;
//   color: @negativeTextColor;
//   box-shadow: @negativeBoxShadow;
// }

// .ObserveStyles-rowDisabled {
//   pointer-events: none;
//   background: @background;
//   color: @disabledTextColor;
// }

// .rowDone(@background_color) {
//   pointer-events: none;
//   color: fadein(@disabledTextColor, 30%);
//   background: @background_color;
// }

// .ObserveStyles-rowDone {
//   .rowDone(@gutter_end_color);
// }

// .ObserveStyles-rowNone {
//   background: @background;
// }