.light-theme {
  @import "primereact/resources/themes/nova/theme";
}

.dark-theme {
  @import "primereact/resources/themes/luna-blue/theme";
}

body {
  margin: 0;
}

.ObserveStyles-mainUI {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.p-divider.ObserveStyles-divider {
  margin: 0 !important;
  font-weight: bold;
}

.ObserveStyles-tab-panel {
  min-width: 20%;

  & .p-tabview-nav-link {
    justify-content: center;
  }

  & .p-tabview-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.ObserveStyles-activeInstrumentLabel {
  padding-bottom: 0.2em;
}

.ObserveStyles-labelPointer {
  margin-top: .2em;
}

.ObserveStyles-footer {
  border-radius: unset !important;
  height: 46px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}