.pl-react-table {
  @at-root {
    table#{&} {
      border-collapse: collapse;
      border-spacing: 0;
      table-layout: fixed;
    }
  }

  thead {
    margin: 0;
    position: sticky;
    top: 0;

    tr {
      th {
        position: relative;
      }
    }
  }

  td {
    padding: 6px;
    white-space: nowrap;
  }

  .pl-sortable-col {
    user-select: none;
  }

  thead:not(.pl-head-resizing) {
    .pl-sortable-col {
      cursor: pointer;
    }
  }

  thead.pl-head-resizing {
    cursor: col-resize;
  }

  .pl-resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 8px;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pl-resizer.pl-col-resizing {
    background: var(--surface-100);
    opacity: 1;
    z-index: 10000;
  }

  @media (hover: hover) {
    .pl-resizer {
      opacity: 0;
    }

    thead:not(.pl-head-resizing) *:hover>.pl-resizer {
      opacity: 1;
    }
  }
}

.pl-react-table-virtualized-outer-container {
  position: relative;
  height: 100%;
}

.pl-react-table-virtualized-inner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
}