.react-table {
  @at-root {
    table#{&} {
      border-collapse: collapse;
      border-spacing: 0;
      font-family: arial, sans-serif;
      table-layout: fixed;
    }
  }

  thead {
    background: lightgray;
    margin: 0;
    position: sticky;
    top: 0;
  }

  th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid rgb(243, 243, 243);
    padding: 2px 4px;
    text-align: left;
    position: relative;
    height: 30px;
    white-space: nowrap;
  }

  td {
    padding: 6px;
    white-space: nowrap;
  }

  tr {
    &.odd {
      background-color: antiquewhite;
    }
  }

  .sortableCol {
    user-select: none;
  }

  thead:not(.isResizing) {
    .sortableCol {
      cursor: pointer;
    }
  }

  thead.isResizing {
    cursor: col-resize;
  }

  .resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 8px;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .resizer.isResizingCol {
    background: rgba(0, 0, 0, 0.2); // TODO Adapt to current prime style
    opacity: 1;
    z-index: 10000;
  }

  @media (hover: hover) {
    .resizer {
      opacity: 0;
    }

    thead:not(.isResizing) *:hover>.resizer {
      opacity: 1;
    }
  }
}